body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 370px;
    background-color: #ececed;
    margin: 13% auto;
    min-height: 100px;
    border-radius: 20px;
    box-shadow: 3px 8px 4px 0 #9b9b9b;

}
@media (max-width:425px) {
    .header{
        width: 330px;
        margin: 13% 20px ;
    }
}
form input{
    /* padding: 25px 18px !important; */
    border-radius: 15px !important;
    border: 3px solid #0a1533 ;
    clip-path:#0a1533 ;
    padding: 10px 55px 10px 20px;
    /* margin: 10px 12px;
    text-align: center; */
    display: block;
    margin-right: auto;
    margin-left: auto;
    
}
form input:focus{
    box-shadow: 3px 8px 4px 0 #9b9b9b;
}
.buto{
    display: flex;
}
button{
   margin:30px 10%;
   padding: 10px 30px ;
   background-color: #0a1533;
   color: white ;
   border-radius: 15px ;
   font-size: 18px ;
   font-weight: bold;
   border: none;
   display: grid;
   text-align: center;
   
}
button.log{
    background-color: #ececed;
    border: 1px solid #0a1533;
    color: #0a1533;
    margin-left: -15px;
}
.logRes{
    margin: 35px 35%;
}
.sign{
    margin-left: 15%;
}


.loader{
    pointer-events: none;
    width:30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #0a1533;
    animation: load 1s ease  infinite;
    margin: auto;
}
@keyframes load {
    0%{
        transform: rotate(0turn);
    }
    100%{
        transform: rotate(1turn);
    }
}

.error{
    color: white;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    display: none;
    padding: 10px;
    margin-bottom: 0px;
}
.erfname{
    display: none;
}
.erlname{
    display: none;
}
.eremail{
    display: none;
}
.erpass{
    display: none;
}
